In [10]:
import pandas as pd
import os

project_path = os.path.dirname('')
data_path = project_path + "../data/"
df = pd.read_csv(data_path + "winners_visual.csv", index_col=0)
df

                      Student Name Category         Placing   Country
Index
0      MAHDIAR GHAFARIOUN ESFAHANI       A1  Grand Champion      IRAN
1           SHAH JAINIKA NIRAJBHAI       A1        Champion     INDIA
2               SAANVI ALPEN PATEL       A1        Champion     INDIA
3                      YAP YONG YI       A1        Champion  MALAYSIA
4                    PISETH SOLIKA       A1   1st Runner Up  CAMBODIA
...                            ...      ...             ...       ...
4702             CLARITA ABOU AZIZ        I   3rd Runner Up   LEBANON
4703                ARADHANA S.SAI        I   3rd Runner Up    KUWAIT
4704             JASPER OLIVER TAN        I   3rd Runner Up    BRUNEI
4705                  LIM PHOUKORN        I   3rd Runner Up  CAMBODIA
4706           MG KYAW BHONE THANT        I   3rd Runner Up   MYANMAR

[4707 rows x 4 columns]